<%- include("../partials/header") %> 
<%- include("../partials/breadCrumb") %>
        <!-- Package Section Starts -->
        <!-- Package Section Starts -->
        <section class="package-section padding-top-120">
            <div class="container">
                <div class="row">
                    <!-- <div class="col-lg-4 col-md-6">
                        <div class="single-package-item">
                            <div class="package-offer green-bg">
                                <span>40% off</span>
                            </div>
                            <div class="package-content">
                                <div class="package-icon template-icon green-icon">
                                    <i class="icofont-document-folder"></i>
                                </div>
                                <div class="package-title">
                                    <h4>web design</h4>
                                </div>
                                <p class="margin-top-20">Explore a variety of fresh topics Podcasting better management inside.</p>
                                <div class="package-price green-price">
                                    <h4>$ 250.00</h4>
                                </div>
                            </div>
                            <div class="package-image">
                                <img src="assets/images/course-image-2.png" alt="image">
                            </div>
                        </div>
                    </div> -->
                    <!-- <div class="col-lg-4 col-md-6">
                        <div class="single-package-item different-bg">
                            <div class="package-offer yellow-bg">
                                <span>20% off</span>
                            </div>
                            <div class="package-content">
                                <div class="package-icon template-icon yellow-icon">
                                    <i class="icofont-layers"></i>
                                </div>
                                <div class="package-title">
                                    <h4>uI UX design</h4>
                                </div>
                                <p class="margin-top-20">Explore a variety of fresh topics Podcasting better management inside.</p>
                                <div class="package-price yellow-price">
                                    <h4>$ 200.00</h4>
                                </div>
                            </div>
                            <div class="package-image">
                                <img src="assets/images/course-image-1.png" alt="image">
                            </div>
                        </div>
                    </div> -->
                    <%courses.forEach(courses => { %>
                        <div class="col-lg-4 col-md-6">
                            <div class="single-package-item">
                                <div class="package-offer blue-bg">
                                    <%if (courses.promo) {%>
                                        <span><%= courses.promo %> Off </span>
                                    <% }  else { %>

                                    <% } %>
                                </div>
                                <div class="package-content">
                                    <div class="package-icon template-icon blue-icon">
                                        <i class="icofont-library"></i>
                                    </div>
                                    <div class="package-title">
                                        <h4><%= courses.courseName %> </h4>
                                    </div>
                                    <p class="margin-top-20"><%= courses.description %> </p>
                                    <div class="package-price blue-price">
                                        <h4>&#8358;<%= courses.price %> </h4>
                                    </div>
                                </div>
                                <div class="package-image">
                                    <img src="<%= courses.courseImage %> " style="height: 275px;" alt="image">
                                </div>
                            </div>
                        </div>
                    <% })%>
                
                </div>
            </div>
        </section>

        <!-- Register Section Starts -->
        <div class="register-section padding-top-80 padding-bottom-120">
            <div class="container">
                <div class="register-form">
                    <form action="#">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fullName">Course Name*</label>
                                    <input type="text" name="courseName" id="fullName" placeholder="Enter Course Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Email">Email Address*</label>
                                    <input type="text" id="Email" placeholder="Email Address">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="Password">Passowrd*</label>
                                    <input type="text" id="Password" placeholder="Password">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="conPassword">Confirm Password*</label>
                                    <input type="text" id="conPassword" placeholder="Confirm Password">
                                </div>
                            </div>
                        </div>
                        <div class="register-button margin-top-20">
                            <a href="#" class="template-button">register account</a>
                            <span>Already have an account? <a href="login.html" class="login-link">Login</a></span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
<%- include("../partials/footer") %> 